.welcome-txt {
  font-family: "Tangerine", "cursive";
  font-size: xx-large;
  color: rgb(226, 194, 13);
  text-shadow: 1px 1px grey;
}
.search-box {
  margin-left: 50%;
}
.searchBtn:hover {
  background-color: rgb(6, 9, 37);
  color: rgb(226, 194, 13);
}
.searchBtn {
  font-weight: 500;
  background-color: rgb(245, 236, 197);
  color: rgb(36, 34, 26);
}
.searchText {
  font-size: x-small;
  color: grey;
  font-weight: 500;
}
